.Main {
  padding: 10px;
  color: aliceblue;
}

.loader {
  height: 400px;
  margin-left: 40%;
  position: relative;
  width: 108px;
  display: flex;
  justify-content: space-between;
  transform: translate(50%, 60%);
}
.loader::after,
.loader::before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: #fff;
  background-image: radial-gradient(circle 14px, #0d161b 100%, transparent 0);
  background-repeat: no-repeat;
  border-radius: 50%;
  animation: eyeMove 10s infinite, blink 10s infinite;
}
@keyframes eyeMove {
  0%,
  10% {
    background-position: 0px 0px;
  }
  13%,
  40% {
    background-position: -15px 0px;
  }
  43%,
  70% {
    background-position: 15px 0px;
  }
  73%,
  90% {
    background-position: 0px 15px;
  }
  93%,
  100% {
    background-position: 0px 0px;
  }
}
@keyframes blink {
  0%,
  10%,
  12%,
  20%,
  22%,
  40%,
  42%,
  60%,
  62%,
  70%,
  72%,
  90%,
  92%,
  98%,
  100% {
    height: 48px;
  }
  11%,
  21%,
  41%,
  61%,
  71%,
  91%,
  99% {
    height: 18px;
  }
}

.row {
  padding: 4rem 2rem;
  display: flex;
  height: 100vh;
  color: #fff;
  flex-direction: row;
}

.row .column1 {
  height: fit-content;
  margin-left: 30px;
  padding-top: 100px;
  background-color: black;
  margin-right: 2rem;
}

.row .column2 {
  padding: 2rem;
  align-items: center;
  margin-top: 50px;
  height: fit-content;
}

.column1 h1 {
  font-size: 50px;
}

.column1 p {
  font-size: 20px;
  padding: 1rem;
}

.column2 .photo {
  height: 350px;
  width: 300px;
  display: inline;
  border-radius: 10px;
  box-shadow: 0px 7px 7px 0px rgba(217, 143, 230, 1);
}
/*Social Bar*/

.socialbar {
  background-color: #191919;
  border-radius: 3em;
  width: 250px;
  padding: 1rem 0.5rem;
  margin-top: 2rem;
  color: white;
  box-shadow: 3px 3px 15px rgb(0, 0, 0), -3px -3px 15px rgb(58, 58, 58);
  text-align: center;
}

.socialbar a {
  transition: 0.4s;
  color: white;
}

#github:hover {
  color: #c9510c;
}

#instagram:hover {
  color: #d62976;
}

#facebook:hover {
  color: #3b5998;
}

#twitter:hover {
  color: #00acee;
}

/* About page */

.about {
  height: fit-content;
  width: fit-content;
}
.about h1 {
  color: #fff;
  padding-bottom: 10px;
  text-align: center;
}

.about .info {
  color: #fff;
  padding: 0px 80px;
}

.about .info p {
  font-size: 25px;
  padding-bottom: 2rem;
}

.skillcard {
  text-align: center;
  align-items: center;
  padding: 30px;
  color: #fff;
}

.skillcard h1 {
  color: aliceblue;
  text-align: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.onecard {
  width: 290px;
  height: max-content;
  margin: 20px;
  box-shadow: 0px 7px 7px 0px rgba(217, 143, 230, 1);
  text-align: center;
}

.skills img {
  width: 100px;
  height: 100px;
}

/*-------------------------------------------------- */
/*                  Projects Info                    */
/* ------------------------------------------------- */
.Projects {
  padding: 0 10px;
  height: max-content;
}

.Projects h1 {
  color: #fff;
  text-align: center;
  padding: 50px;
}

.pjcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  --font-color: #323232;
  --bg-color: #e0e0e0;
  width: 250px;
  margin: 50px;
  height: 350px;
  border-radius: 20px;
  background: var(--bg-color);
  box-shadow: -9px 9px 18px #5a5a5a, 9px -9px 18px #ffffff;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
  position: relative;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 2px #5a5a5a;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  background-color: blueviolet;
}

.card__img img {
  width: 100%;
  height: 100%;
}

.card__descr-wrapper {
  padding: 15px;
  display: grid;
}

.card__title {
  color: var(--font-color);
  text-align: center;
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 16px;
}

.card__descr {
  color: var(--font-color);
}

.svg {
  width: 25px;
  height: 25px;
  transform: translateY(25%);
  fill: var(--font-color);
}

.card__links {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}

.card__links .link {
  color: var(--font-color);
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
}

.card__links .link:hover {
  text-decoration: underline;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*-------------------------------------------------- */
/*                  Contact Info                     */
/* ------------------------------------------------- */
.contact {
  color: #fff;
  height: 95vh;
}

.header {
  color: #fff;
}

.Field {
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0px 50px;
}

.contact h1 {
  padding: 50px;
  font-size: 50px;
}

.contact1 p {
  padding-bottom: 30px;
  font-size: 20px;
}
.contact1 h2 {
  padding-bottom: 30px;
}

.contact a {
  text-decoration: none;
  color: #fff;
}

.contact1 {
  width: 70%;
  height: max-content;
  color: #fff;
  padding-left: 30px;
}

.contact2 {
  width: 55%;
  color: #fff;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: black;
}

.message {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 3px solid rgb(172, 103, 215);
  color: #fff;
  border-radius: 5px;
  background-color: black;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.input01 {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 3px solid rgb(172, 103, 215);
  color: #fff;
  border-radius: 5px;
  background-color: black;
}

.form label .input01 + span {
  position: absolute;
  left: 10px;
  top: 50px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input01:placeholder-shown + span {
  top: 40px;
  font-size: 0.9em;
}

.fancy {
  width: 100%;
  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 0px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 390;
  letter-spacing: 2px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.7rem;
  height: 2px;
  background: #cacaca;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(230%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: lowercase;
  text-decoration: none;
  color: #818181;
  transform: translateX(30%);
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: white;
  background: #cacaca;
}

.fancy:hover::before {
  width: 1.5rem;
  background: white;
}

.fancy:hover .text {
  color: white;
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

/* ------------------pwa -------------------- */
@media (max-width: 1024px) {
  .row {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  .row .column1 {
    width: 60%;
    padding: 40px 0px;
    margin: 0px;
  }

  .row .column1 h1 {
    font-size: 30px;
  }

  .row .column1 p {
    font-size: 15px;
  }
  .row .column2 {
    width: 40%;
    margin: 0px;
    align-items: center;
  }

  .socialbar {
    width: 200px;
    padding: 0.5rem;
    text-align: center;
  }

  .column2 .photo {
    width: 200px;
    height: 250px;
  }

  .about {
    display: flex;
    flex-direction: column;
  }
  .about h1 {
    font-size: 20px;
    text-align: center;
  }

  .about .info {
    padding: 0px 20px;
  }
  .about .info p {
    padding: 10px 0px;
    font-size: 14px;
  }
  .Field {
    color: #fff;
    display: flex;
    flex-direction: row;
    padding: 0px 50px;
  }

  .Projects {
    padding: 0 10px;
    height: fit-content;
  }
}

/* TABLET */
@media (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .row .column1 {
    width: 100%;
    padding: 2rem;
  }
  .row .column2 {
    width: 100%;
    align-items: center;
  }

  .onecard {
    width: 200px;
    margin: 10px;
  }

  .skills img {
    width: 90px;
    height: 90px;
  }

  .Field {
    text-align: center;
    flex-direction: column;
  }

  .contact1 {
    width: 100%;
    height: max-content;
    color: #fff;
    align-items: center;
  }

  .contact2 {
    width: 100%;
    color: #fff;
    align-items: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: black;
  }

  .Projects {
    padding: 0 10px;
    height: fit-content;
  }
}

@media (max-width: 480px) {
  .row {
    flex-direction: column;
    margin: none;
    padding: none;
  }

  .row .column1 {
    width: 100%;
    height: fit-content;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px 0px;
    background-color: black;
  }

  .row .column2 {
    width: 100%;
    height: fit-content;
    padding-top: 100px;
    background-color: black;
  }
  .column1 h1 {
    padding-bottom: 5px;
    font-size: 25px;
  }

  .column1 p {
    font-size: 12px;
    padding-bottom: 10px;
  }
  .socialbar {
    width: 200px;
    padding: 0.5rem;
    text-align: center;
  }

  .row .column2 {
    margin-top: 0px;
  }
  .column2 .photo {
    width: 200px;
    height: 250px;
  }

  .about {
    display: flex;
    flex-direction: column;
  }
  .about h1 {
    font-size: 20px;
    text-align: center;
  }

  .about .info {
    padding: 0px 20px;
  }
  .about .info p {
    padding: 10px 0px;
    font-size: 14px;
  }

  .onecard {
    width: 200px;
    height: max-content;
    margin: 20px;
  }

  .skills img {
    width: 60x;
    height: 70px;
  }

  .contact h1 {
    font-size: 30px;
    text-align: center;
  }
  .contact1 {
    width: 100%;
    height: max-content;
    color: #fff;
    text-align: center;
  }

  .contact2 {
    width: 100%;
    color: #fff;
    align-items: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: black;
  }

  .Projects {
    padding: 0 10px;
    height: fit-content;
  }
}
